/* Basic Primary Text color */

.black-text{
    color: rgb(0, 0, 0);
}
.white-text{
    color: rgb(255, 255, 255);
}


/* Primary Color Text-colors :  */


.red-text{
    color: rgb(255, 0, 0);
}
.yellow-text{
    color: rgb(255, 255, 0);
}
.blue-text{
    color:rgb(0, 0, 255)
}
.green-text{
    color: rgb(0, 128, 0);
}
.skyBlue-text{
    color:rgb(135, 206, 235)
}


/* Some more Text-colors :  */

.dimgray-text{
    color: rgb(105, 105, 105);
}
.dimgrey-text{
    color: rgb(105, 105, 105);
}
.gray-text{
    color: rgb(128, 128, 128);
}
.darkGray-text{
    color: rgb(169, 169, 169);
}
.darkGrey-text{
    color:rgb(169, 169, 169)
}
.silver{
    color:rgb(192, 192, 192)
}
.lightGray{
    color: rgb(211, 211, 211);
}
.whiteSmoke{
    color: rgb(245, 245, 245);
}
